/*ETIQUETAS*/

#contenidos{
	width: 1000px;
	height: auto;
	margin:auto;
	position: relative;
	background: #F0B429;
}	
body{
	background-image: url(../Img/img1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
h1{
	font-family: verdana;
	margin-left: 10px;
	font-size: 40px;
	text-align: center;
}

h2{
	font-family: arial;
	margin-left: 10px;
	font-size: 20px;
	text-align: left;
}
header{
	width: 1000px;
	height: 120px;
	border-radius: 10px;
	background-color: #F0B429;
}


ul{
	margin: auto;
	padding-top: 10px;
}


section{
	width: 700px;
	background: #005883;
	height: 600px;
	float: left;
	border-radius: 10px;
	margin-top: 20px;

}

aside{
	width: 280px;
	height: 600px;
	float: left;
	margin-left: 20px;
	background: #F0B429;
	border-radius: 10px;
	margin-top: 20px;

}

footer{
	width: 1000px;
	height: 40px;
	float: left;
	margin-top: 20px;
	background: #B3B3B3;
	border-radius: 10px;

}
